table {
  width: 1200px;
  height: 200px;
  margin: auto;

  @media (max-width: 480px) {
    width: 380px;
  }
}

th {
  border-bottom: 1px solid black;
  text-align: start;
  background-color: #64a8e6;
  padding: 0.5rem;

  @media (max-width: 480px) {
    font-size: 12px;
    padding: 0.2rem;
  }
}
th:nth-child(6) {
  background-color: red;
}
td {
  text-align: start;
  padding: 0.5rem;

  @media (max-width: 480px) {
    font-size: 12px;
    padding: 0.2rem;
  }
}
td:nth-child(6) {
  background-color: red;
}
tr {
  display: table;
  table-layout: fixed;
  width: 100%;
}
